services:
  - type: web
    name: ai-anti-phishing-advisor-api
    runtime: node
    region: frankfurt
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: GROQ_API_KEY
        sync: false
      - key: FRONTEND_URL
        value: https://sh-dott.github.io
